altgraph==0.17.3
arabic-reshaper==3.0.0
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.2.1
auto-py-to-exe==2.37.0
backcall==0.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cloudinary==1.34.0
colorama==0.4.6
contourpy==1.1.0
crispy-bootstrap4==2022.1
cryptography==41.0.3
cssselect2==0.7.0
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
dj-database-url==2.1.0
Django==3.2.13
django-allauth==0.54.0
django-cors-headers==3.13.0
django-countries==7.5.1
django-crispy-forms==2.0
django-environ==0.8.1
django-extensions==3.2.3
django-heroku==0.3.1
djangorestframework==3.13.1
djangorestframework-datatables==0.7.0
djangorestframework-simplejwt==5.2.2
EasyProcess==1.1
Eel==0.16.0
entrypoint2==1.1
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.12.2
Flask==2.3.2
fonttools==4.42.1
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
gunicorn==20.1.0
html5lib==1.1
idna==3.4
ipython==8.9.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
kiwisolver==1.4.4
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mss==9.0.1
mysqlclient==2.2.0
numpy==1.25.2
oauthlib==3.2.2
opencv-contrib-python==4.8.0.76
openpyxl==3.1.2
oscrypto==1.3.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pefile==2023.2.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pipenv==2023.7.23
platformdirs==3.10.0
prompt-toolkit==3.0.36
psutil==5.9.5
psycopg2==2.9.7
psycopg2-binary==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pygame==2.5.1
Pygments==2.14.0
pyHanko==0.20.0
pyhanko-certvalidator==0.23.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
PyJWT==2.4.0
PyMySQL==1.1.0
pyparsing==3.0.9
pypdf==3.15.2
PyPDF2==3.0.1
pypng==0.20220715.0
pyscreenshot==2.2
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2023.3
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzbar==0.1.9
qrcode==7.4.2
reportlab==3.6.13
requests==2.31.0
requests-oauthlib==1.3.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
svglib==1.5.1
tinycss2==1.2.1
traitlets==5.9.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
uritools==4.0.1
urllib3==1.26.16
virtualenv==20.24.2
virtualenv-clone==0.5.7
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.7
whichcraft==0.6.1
whitenoise==6.5.0
xhtml2pdf==0.2.11
zope.event==5.0
zope.interface==6.0
